/* CSS reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* CSS variable */
:root{
    --navbar-height: 59px;
}
/* navbar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
    overflow: auto;
    height: 64px;
    overflow: hidden;
    background-color: #ECF8F9;
}
/* navbar: logo and image */
#logo{
    margin: 10px 34px;
}
#logo img{
    height: 60px;
    padding-top: 10px;
    /* border: 1px solid black;
    border-radius: 50px; */
}
/* navbar: list styling */
#navbar ul{
    margin-left: auto;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    margin: 10px 10px;
}
#navbar ul li a{
    display: block;
    color: black    ;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 619px;
    color: white;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    /* background-image: url(../img/home2.webp);    */
    /* background-image: url(../img/home.avif);
    background-repeat: no-repeat;
    background-size: 100% 100%; */


    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/home.avif);
  background-size: cover;
    
}

#home::before{
    content: "";
    /* background: url(../img/home2.webp) no-repeat center center/cover; */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* service section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid burlywood;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 23px;
    background-color: #ECF8F9;
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: 'Bree Serif', serif; 
}
/* clients section */
#client-id{
    height: 320px;
    position: relative;
    background-color: #ECF8F9;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#clients img{
    height: 124px;
    width: 200px;
    padding: 20px;
    border-radius: 50px;
}


/* contact section */
#contact{
    position: relative;
    height: 500px;    
}
#contact h1{
    padding-top: 50px;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../img/contact1.avif) no-repeat center center/cover ;
    background-position: center top;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width: auto;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
#contact-box input{
    width: auto;
}
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}
footer{
    background-color:  #ECF8F9;
    padding: 9px 20px;
}
/* utility classes */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;

}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
#home button{
    padding: 6px 20px;
    border: 2px solid #ECF8F9;
    background-color: goldenrod;
    color: black    ;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}
#home button:hover{
    background-color: #ECF8F9;
}
.center{
    text-align: center;
}